/*HOME PAGE*/
/*body for home page*/
body, html {
  height: 100%;
}

.bg {
  background-image: url(file:///Users/jessicalieu/Desktop/clouds.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*link color for home, about, and contact page*/
a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
 color: pink;
}

/*nav bar*/
ul {
  padding: 40px;
  margin:6px;
  font-family: 'Sen', sans-serif;
  width: 100%;
  position: absolute;
  text-align: center;
  float: none;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li {
  display: inline-flex;
  margin: 0 15px;
  padding: 10px;
  font-size: 15px;
}

/*h1 for home page*/
.home-h1 {
  font-family: 'Sen', sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

/*ABOUT PAGE*/
.about-body{
  background-image: image(clouds.jpg);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-h1 {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

.about-h3 {
  font-family: 'Sen', sans-serif;
  text-align: center;
  color: white;
}

.about-p {
  text-align: center;
  font-family: 'Sen', sans-serif;
  font-size: 14px;
  color: white;
}

.about-p1 {
  text-align: center;
  font-size: 12px;
  color: white;
}

/*PROJECT PAGE*/
.projects-body{
  background-image: image(clouds.jpg);
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects-h1 {
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  padding:100px;
}

.gallery img {
  width: 400px;
  height: 350px;
  margin: 10px;
}

/*CONTACT PAGE*/
.contact-body{
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://ih1.redbubble.net/image.890071499.0373/flat,1000x1000,075,f.u4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-h1 {
  font-family: 'Sen', sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
}

.contact-p1 {
  font-family: 'Sen', sans-serif;
  font-size: 15px;
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
 color:	pink;
}
