@media screen and (max-width:400px) {
  body {
    background-color: white;
  }

  .container {
    display: grid;
    background-color: white;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 16px
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .header {
    background-color: #ABC07C;
  }

  .toc{
    background-color: white;
  }

  .content {
    background-color: #ABC07C;
  }

  .mobile-image {
    width: 50%;
  }

  p {
    padding: 5px;
  }

  p1 {
    color: white;
  }

  p2 {
    color: white;
  }

  p3 {
    color: white;
  }

  .center {
    text-align: center;
  }
}

@media screen and (min-width:401px) {
  body {
    background-color: white;
  }

  .container {
    display: grid;
    background-color: #ABC07C;
    padding: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr
    gap: 20px;
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 16px
  }

  p1{
    color: #ABC07C;
  }

  p {
    text-align: left;
  }

  .header {
    background-color: white;
    grid-column: 1 / 4;
  }

  .toc{
    background-color: white;
    grid-row: 2 / 4;
  }

  .content {
    background-color: white;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .mobile-image {
    width: 80%;
    display: center;
    margin-right: -3%;
  }

  p {
    padding: 5px;
  }

  p3 {
    color: #ABC07C;
    font-size: 10px;
  }

}
