.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

body{
  background-color: white;
  font-family: 'Sen', sans-serif;
  font-size: 12px
}

h1 {
  font-family: 'Sen', sans-serif;
  color: #ABC07C;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

hr style {
  height:2px;
  border-width:0;
  color:white;
}

h3 {
  font-family: 'Sen', sans-serif;
  color: #ABC07C;
}

a:hover {
 color: #6f5c44;
}

p {
  color: black;
}
