a {
  text-decoration: none;
}

a:visited {
  color: pink;
}

a:hover {
 color:	#DDA0DD;
}

/*nav bar*/
ul {
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin:6px;
  font-family: 'Sen', sans-serif;
}

li {
  display: inline-flex;
  margin: 0 15px;
  padding: 10px
  text-decoration: none;
}

h1 {
  font-family: 'Sen', sans-serif;
  font-size: 50px;
  color: #F28C28;
  text-align: center;
}

h3 {
  text-align: center;
  color: #E0E1E4;
}

p {
  font-size: 15px;
  text-align: center;
  color: #E0E1E4;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: center;
  padding:20px;
}

.gallery img {
  width: 400px;
  height: 350px;
  margin: 10px;
}
