.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1 {
  font-family: 'Concert One', cursive;
  color: cornflowerblue;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

hr style {
  height:2px;
  border-width:0'
  color:white;
}

h3 {
  font-family: 'Concert One', cursive;
  color: cornflowerblue;
}

ul{
  color: red;
}

a:hover {
 color: pink;
}
